html, body {
    margin: 0px;
    padding: 0px;
}

#load_file {
    /*background-color: sienna;*/
    position: fixed;

    top: 5px;
    left: 5px;
    right: 5px;

    height: 100px;

    vertical-align: top;
}

#load_statistic {
    /*background-color: sienna;*/
    position: fixed;

    top: 110px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

#load_file span, #load_file input, #load_statistic td
{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

#load_file span
{
    font-size: 20pt;
}

#load_file input
{
    font-size: 12pt;
    width: 400px;
}

#load_statistic td {
    font-size: 12pt;
}